<launch>
    <!-- Configurable options -->
    <arg name="robot_model" default="mbzirc"/>
    <arg name="id" default="1"/>
    <arg name="mode" default="sitl"/>
 
    <arg name="description_package" default="robots_description"/>
    <arg name="material" default="Orange"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="yaw" default="0"/>
    <arg name="frame_id" default="map"/>
    <arg name="append_xacro_args" default=""/>
    <arg name="simulate_safety_pilot" default="true"/>

    <arg name="fcu_url" default="udp://:14550@localhost:14556"/>
    <arg name="gcs_url" default="udp://@localhost"/>
    <arg name="rtcm_topic" default=""/>
    <arg name="use_mavros" default="true"/>
    <arg name="remap_mavros_tf" default="true"/>
    <arg name="mavros_config_pkg" default="px4_bringup"/>

    <!-- Run mavros node -->
    <node pkg="px4_bringup" type="run_mavros.py" name="run_mavros_$(arg id)" output="screen" if="$(arg use_mavros)"
    args="-id=$(arg id) -mode=$(arg mode) -fcu_url=$(arg fcu_url) -gcs_url=$(arg gcs_url) -rtcm_topic=$(arg rtcm_topic)
            -remap_tfs=$(arg remap_mavros_tf) -mavros_config_pkg=$(arg mavros_config_pkg)" />

</launch>
